body {
    background-image: url(/images/aguasbackground.png);
    background-size: cover;
}

.aguastitle {
    position: absolute;
    top:1%;
    left:42%;
    color: white;
    font-size: 300%;
}

.aguasflavors {
    position: absolute;
    top:10%;
    left:45%;
    color: white;
    font-size: 300%;
}

.aguasmenu {
    position: absolute;
    top:17%;
    left:44%;
    color: white;
    font-size: 250%;
}

a {
    color: white;
    font-size: 200%;
}

a:visited {
    color: rgb(255, 255, 255);
}

a:hover {
    color: rgb(225, 152, 42);
}