body {
    background-image: url(/images/aguasbackground.png);
    background-size: fill;
}

h1, h2 {
    color: white;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
}

ul {
    display: flex;
    justify-content: center;
    color: white;
}