body {
    background-image: url(/images/bronchibobabackground.png);
    background-size: cover;
}

h1 {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 300%;
}

.menu {
    width: 500px;
    margin: 0 auto;
    
}

.specialties {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 300%;
}

.specialmenu {
    display: block;
    /* text-align: center; */
    color: white;
    font-size: 250%;
}

.milktea {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 300%;
}
.milkmenu {
    display: block;
    /* text-align: center; */
    color: white;
    font-size: 250%;
}

.fruittea {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 300%;
}

.fruitmenu {
    display: block;
    /* text-align: center; */
    color: white;
    font-size: 250%;
}

a {
    color: white;
    font-size: 200%;
    position: fixed;
}

a:visited {
    color: rgb(255, 255, 255);
}

a:hover {
    color: rgb(10, 117, 23);
}