body {
    background-color:rgb(120,141,124);
}


.clevergirllogo {
    display: flex;
    justify-content: center;
}

h1 {
    position:absolute;
    top: 25%;
    left: 45%;
    color: white;
    font-size: 350%;
}

.drinks {
    position: absolute;
    top: 32%;
    left: 42%;
    color: white;
    font-size: 300%;
}

.drinkmenu {
    position:absolute;
    top: 37%;
    left:45%;
    color:white;
    font-size: 250%;
}

.snacks {
    position: absolute;
    top: 94%;
    left:45%;
    color:white;
    font-size: 300%;
}

.snacksmenu {
    position: absolute;
    top: 100%;
    left: 43%;
    color: white;
    font-size: 250%;
}

.clevergirl {
     position: absolute;
    top: 5%;
}

.clevergirltwo {
  position: absolute;
  top: 5%;
  left: 80%;
}

a {
    color: white;
    font-size: 200%;
}

a:visited {
    color: rgb(255, 255, 255);
}

a:hover {
    color: rgb(225, 152, 42);
}