body {
    background-color:rgb(120,141,124);
}

header {
    display: flex;
    justify-content: space-around;

}

.menu {
    width: 500px;
    margin: 0 auto;
}


img {
    width: 100%;
    height: auto;
    object-fit: cover;
    overflow: hidden;
}

.clevergirllogo {
    display: flex;
    justify-content: center;
    width: 60%;
}

.clevergirllogo img {
    object-fit: contain;
}

.clevergirl {
    display:block;
    width: 30%;
}

h1 {
   display:flex;
   justify-content: center;
   text-align: center;
    color: white;
    font-size: 350%;
}

.drinks {
    display: block;
    text-align: center;
    color: white;
    font-size: 300%;
}

.drinkmenu {
    display: block;
    /* text-align: center; */
    color:white;
    font-size: 250%;
}

.snacks {
    display: block;
    justify-content: center;
    text-align: center;
    color:white;
    font-size: 300%;
}

.snacksmenu {
    display: block;
    /* text-align: center; */
    color: white;
    font-size: 250%;
}


a {
    color: white;
    font-size: 200%;
    position: fixed;
}

a:visited {
    color: rgb(255, 255, 255);
}

a:hover {
    color: rgb(10, 117, 23);
}

@media only screen and (max-width:640px){
    #products {
        grid-template-columns: 1fr;
        padding: 1em;
        
    }
}