body {
    background-image: url(/images/dinodutchbackground.png);
    background-size: cover;
}

h1 {
    display: block;
    text-align: center;
    color: white;
    font-size: 400%;
}

.classics {
    display:flex;
    justify-content: space-around;
    color: white;
    font-size: 300%;
}

.classicsmenu {
    display: flex;
    justify-content: space-evenly;
    color: white;   
    font-size: 250%;
}

.rebels {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    color: white;
    font-size: 300%;
}

.rebelmenu {
    display: flex;
    justify-content: space-evenly;
    color: white;
    font-size: 250%;
}

.coldbrew {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 300%;
}

.coldbrewmenu {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 250%;
}

a {
    color: white;
    font-size: 200%;
}

a:visited {
    color: rgb(255, 255, 255);
}

a:hover {
    color: rgb(225, 152, 42);
}