body {
    background-image: url(/images/dinodutchbackground.png);
    background-size: cover;
    background-attachment: fixed;
}

.menu {
    width: 500px;
    margin: 0 auto;

}

h1 {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 400%;
}

.classics {
    display:flex;
    justify-content: center;
    color: white;
    font-size: 300%;
}

.classicsmenu {
    display: block;
    color: white;   
    font-size: 250%;
}

.rebels {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 300%;
}

.rebelmenu {
    display: block;
    color: white;
    font-size: 250%;
}

.coldbrew {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 300%;
}

.coldbrewmenu {
    display: block;
    color: white;
    font-size: 250%;
}

a {
    color: white;
    font-size: 200%;
    position: fixed;
}

a:visited {
    color: rgb(255, 255, 255);
}

a:hover {
    color: rgb(10, 117, 23);
}