body {
    background-image: url(/images/dinodutchbackground.png);
    background-size: cover;
}

h1 {
    position:absolute;
    top:1%;
    left:45%;
    color: white;
}

.classics {
    position:absolute;
    top:6%;
    left:45%;
    color: white;
}

.classicsmenu {
    position:absolute;
    top:10%;
    left:45%;
    color: white;
}

.rebels {
    position:absolute;
    top:28%;
    left:45%;
    color: white;
}

.rebelmenu {
    position:absolute;
    top:32%;
    left:45%;
    color: white;
}

.coldbrew {
    position:absolute;
    top:45%;
    left:45%;
    color: white;
}

.coldbrewmenu {
    position:absolute;
    top:50%;
    left:45%;
    color: white;
}

a {
    color: white;
    font-size: 200%;
}

a:visited {
    color: rgb(255, 255, 255);
}

a:hover {
    color: rgb(225, 152, 42);
}