body {
    background-image: url(/images/aguasbackground.png);
    background-size: cover;
    background-attachment: fixed;
}

.menu {
    width: 550px;
    margin: 0 auto;   
}

a {
    color: white;
    font-size: 200%;
    position: fixed;
}

a:visited {
    color: rgb(255, 255, 255);
}

a:hover {
    color: rgb(10, 117, 23);
}

h1 {
    display: flex;
    justify-content: center;
    color: white;
    font-size:400%;
}

h2 {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 325%;
}

.flavors {
    display: block;
    /* text-align: center; */
    color: white;
    font-size:300%;
}
