body {
    background-image: url(/images/dinodutchbackground.png);
    background-size: cover;
}

a {
    color: white;
    font-size: 200%;
}

a:visited {
    color: rgb(255, 255, 255);
}

a:hover {
    color: rgb(225, 152, 42);
}

h1 {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 400%;
}

h2 {
    display: flex;
    justify-content: center;
    font-size: 300%;
    color: white;
}

ul {
    display: block;
    text-align: center;
    align-content: center;
    color: white;
    font-size: 225%;
}