body {
    background-image: url(/images/jurassicjavabackground.png);
    background-size: cover;
}

a {
    color: white;
    font-size: 200%;
    position: fixed;
}

a:visited {
    color: rgb(255, 255, 255);
}

a:hover {
    color: rgb(10, 117, 23);
}

header {
    display: flex;
    justify-content: space-between;
}

.jurassic {
    display: flex;
    justify-content: center;
    font-size: 500%;
    color: white;
}

.java {
    display: flex;
    justify-content: center;
    font-size: 500%;
    color: white;
}

.raptorcinno {
    display: flex;
    justify-content: center;
    font-size: 300%;
    color: white;
}

.raptorcinnomenu {
    display: block;
    font-size: 250%;
    color: white;
}

.jurassicjava {
    display: flex;
    justify-content: center;
    font-size: 300%;
    color: white;
}

.javamenu {
    display: block;
    font-size: 250%;
    color: white;
}

.rexfreshers {
    display: flex;
    justify-content: center;
    font-size: 300%;
    color: white;
}

.rexfreshersmenu {
    display: block;
    font-size: 250%;
    color: white;
}

.menu {
    width: 550px;
    margin: 0 auto;
}