body {
    background-image: url(/images/vasosdefrutasbackground.png);
    background-size: cover;
}

a {
    color: white;
    font-size: 300%;
    position: fixed;
}

a:visited {
    color: rgb(255, 255, 255);
}

a:hover {
    color: rgb(10, 117, 23);
}

h1 {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 400%;
}

h2 {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 350%;
}

.menu {
    width: 550px;
    margin: 0 auto;   
}

.one {
    display: block;
    /* text-align: center; */
    color: white;
    font-size: 325%;
}