body {
    background-image: url(/images/vasosdefrutasbackground.png);
    background-size: cover;
}

a {
    color: white;
    font: 200%;
}

a:visited {
    color: rgb(255, 255, 255);
}

a:hover {
    color: rgb(225, 152, 42);
}