body {
    background-image: url(/images/vasosdefrutasbackground.png);
    background-size: cover;
    background-attachment: fixed;
}

a {
    color: rgb(255, 255, 255);
    font-size: 200%;
    position: fixed;
}

a:visited {
    color: rgb(255, 255, 255);
}

a:hover {
    color: rgb(10, 117, 23);
}

h1 {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 400%;
}

.build {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 375%;
}

.fruit {
    display: block;
     /* text-align: center; */
    color: white;
    font-size: 325%;
}

.addons {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 375%;
}

.add {
    display: block;
    /* text-align: center; */
    color: white;
    font-size: 325%;
}

.menu {
    width: 500px;
    margin: 0 auto;
}
