body {
    background-image: url(/images/vasosdefrutasbackground.png);
}

a {
    color: rgb(255, 255, 255);
    font-size: 200%;
}

a:visited {
    color: rgb(255, 255, 255);
}

a:hover {
    color: rgb(225, 152, 42);
}