body {
    background-image:url(background.jpg);
    background-size: cover;
    /* background-attachment: fixed; */
}

h1, h2 {
    color: white;
    font-size:265%;
}

h2 {
    text-align: center;
}

a {
    color: white;
    font-size: 200%;
}

a:visited {
    color: rgb(255, 255, 255);
}

a:hover {
    color: rgb(225, 152, 42);
}


.clevergirl {
    position: absolute;
    left: 35%;
    top: 0%;
    
}

.clevergirllocation {
    position: absolute;
    left: 35%;
    top:15%;
}

.clevergirlbutton {
    position: absolute;
    left: 35%;
    top:80%;
}

.dinodutch {
    position: absolute;
    left: 31%;
    top:130%;
}

.dinodutchlocation {
    position: absolute;
    left: 31%;
    top:135%;
}

.dinodutchbutton {
    position: absolute;
    left: 31%;
    top:160%;
}

.jurassicjava {
    position: absolute;
    left: 72%;
    top:130%;
}

.jurassicjavalocation {
    position: absolute;
    left: 72%;
    top:135%;
}

.jurassicjavabutton {
    position: absolute;
    left: 72%;
    top:160%;
}

.dinodots {
    position: absolute;
    left: 31%;
    top:175%;
}

.dippindotslocation {
    position: absolute;
    left: 31%;
    top:180%;
}

.dinodotsbutton {
    position: absolute;
    left: 31%;
    top:206%;
}

.bronchiboba {
    position: absolute;
    left:72%;
    top:175%;
}

.bronchibobalocation {
    position: absolute;
    left: 72%;
    top:180%;
}

.bronchibobabutton {
    position: absolute;
    left: 72%;
    top:206%;
}

.chompinchurros {
    position: absolute;
    left: 31%;
    top:221%;
}

.chompinchurroslocation {
    position: absolute;
    left: 31%;
    top:226%;
}

.chompinchurrosbutton {
    position: absolute;
    left: 31%;
    top:250%;
}

.aguasfrescas {
    position: absolute;
    left: 72%;
    top:221%;
}

.aguasfrescaslocation {
    position: absolute;
    left: 72%;
    top:226%;
}

.aguasfrescasbutton {
    position: absolute;
    left: 72%;
    top:250%;
}

.sattlersslushies {
    position: absolute;
    left: 31%;
    top: 267%;
}

.sattlersslushieslocation {
    position: absolute;
    left: 31%;
    top:272%;
}

.sattlersslushiesbutton {
    position: absolute;
    left: 31%;
    top:295%;
}

.vasosdefrutas {
    position: absolute;
    left: 72%;
    top:267%;
}

.vasosdefrutaslocation {
    position: absolute;
    left: 72%;
    top:272%;
}

.vasosdefrutasbutton {
    position: absolute;
    left: 72%;
    top:295%;
}

.icecream {
    position: absolute;
    left: 31%;
    top:314%;
}

.icecreamlocation {
    position: absolute;
    left: 31%;
    top:319%;
}

.icecreambutton {
    position: absolute;
    left: 31%;
    top:342%;
}

.donuts {
    position: absolute;
    left: 72%;
    top:314%;
}

.donutslocation {
    position: absolute;
    left: 72%;
    top:319%;
}

.donutsbutton {
    position: absolute;
    left: 72%;
    top:342%;
}

.about {
    position:absolute;
    left:45%;
    top:355%;
    font-size: xx-large;
}
.logo {
    display: flex;
    justify-content: center;
}

.concessions {
    display: flex;
    justify-content:center;
    font-size: 500%;
}

.first {
    position: absolute;
    left: 20%;
    top: 70%;
    background-color: white;
    background: rgba(255, 255, 255, 0.4);
    margin: 10%;
    width: 38%;
}

.dinodutchlogo {
    position: absolute;
    top:110% ;
    background-color: white;
    background: rgba(255, 255, 255, 0.4);
    margin: 10%;
    width: 38%;
}

.jurassicjavalogo {
    position:absolute;
    left:41.5%;
    top:110%;
    background-color: white;
    background: rgba(255, 255, 255, 0.4);
    margin: 10%;
    width: 38%;
}

.jurrasicjava {
    position: absolute;
    left: 72%;
    top:125%; 
}

.dinodotslogo {
    position:absolute;
    top:155%;
    background-color: white;
    background: rgba(255, 255, 255, 0.4);
    margin: 10%;
    width: 38%;
}

.bronchibobalogo {
    position: absolute;
    left: 41.5%;
    top:155%;
    background-color: white;
    background: rgba(255, 255, 255, 0.4);
    margin: 10%;
    width: 38%;
}

.chompinchurroslogo {
    position: absolute;
    top:200%;
    background-color: white;
    background: rgba(255, 255, 255, 0.4);
    margin: 10%;
    width: 38%;
}

.aguasfrescaslogo {
    position: absolute;
    left: 41.5%;
    top: 200%;
    background-color: white;
    background: rgba(255, 255, 255, 0.4);
    margin: 10%;
    width: 38%;
}

.sattlersslushieslogo {
    position: absolute;
    top:246%;
    background-color: white;
    background: rgba(255, 255, 255, 0.4);
    margin: 10%;
    width: 38%;
}

.vasosdefrutaslogo {
    position: absolute;
    left: 41.5%;
    top:246%;
    background-color: white;
    background: rgba(255, 255, 255, 0.4);
    margin: 10%;
    width: 38%;
}

.icecreamlogo {
    position:absolute;
    top: 293%;
    background-color: white;
    background: rgba(255, 255, 255, 0.4);
    margin: 10%;
    width: 38%;
}

.donutslogo {
    position: absolute;
    left: 41.5%;
    top:293%;
    background-color: white;
    background: rgba(255, 255, 255, 0.4);
    margin: 10%;
    width: 38%;
}

.map {
    position: absolute;
    left: 48%;
    top: 360%;
}
